.Timer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #627ad9;
  align-items: center;
  font-weight: 700;
  .text-field {
    margin: 10px 0 30px 0;
    .MuiInputBase-root-18 {
      &:before {
        border-bottom: 1px solid rgba(225, 225, 225, 0.9);
      }
    }
    input::placeholder {
      color: #5a76d5;
      opacity: 1;
      text-align: center;
    }
  }

  .timer-circle {
    width: 300px;
    height: 300px;
    color: #5a76d5;
    margin: 10px 0 30px 0;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  .action-button {
    margin: 10px 0 30px 0;
    width: 150px;
    height: 50px;
  }
}
