.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  .link {
    text-decoration: none;
  }
  .action-button {
    background-color: white;
    span {
      color: #5a76d5;
      font-weight: 700;
    }
  }
}
